html, body{
    background-color: aliceblue;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_slide_1{
    display: flex;
    background-image: url("../assets/pycraft_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

@keyframes fade_in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes link_on_hover{
    0%{
        color: white;
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        color: #00bfff;
        transform: scale(1);
    }
}

@keyframes link_on_unhover {
    0%{
        color: #00bfff;
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
    100%{
        color: white;
        transform: scale(1);
    }
}

.home_slide_1_credit{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade_in 5s; 
    align-self: flex-end;
    position: absolute;
    bottom: 1%;
    font-family: 'Roboto', sans-serif;
}

.home_slide_1_credit_link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    animation: link_on_unhover 0.5s;
}

.home_slide_1_credit_link:hover{
    animation: link_on_hover 0.5s;
    color: #00bfff;
}

.home_slide_1_text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    animation: fade_in 0.5s;
    background-color: rgba(234, 245, 255,0.5);
}

.home_slide_1_title{
    font-family: 'Roboto', sans-serif;
    animation: fade_in 3s;
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

.home_slide_1_sub{
    font-family: 'Roboto', sans-serif;
    animation: fade_in 3s;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: lighter;
}
